mat-card {
  width: 45%;
  margin: 1%;
}

.profile-card {
  background-color: #c8e6c9;
  padding: 2%;
  h3 {
    margin: auto;
    text-align: center;
  }
}

#action-header {
  width: inherit;
}

#container {
  padding: 1.5%;
  display: grid;
}

#current-token-caption small {
  color: #919098;
}

#friends-card-avatar {
  margin-right: 1rem;
}

#no-friend-prompt {
  text-align: center;
  margin-top: 4%;
}

#token-content {
  margin-top: 1rem;
  img {
    border-radius: 10px;
    border: 1px solid black;
    padding: 0.25rem;
  }
}

