mat-card {
  width: 30%;
  margin: 1%;
}
#friends-card-avatar {
  margin-right: 1rem;
}

#container {
  padding: 1.5%;
  display: grid;
}

#no-friend-prompt {
  text-align: center;
  margin-top: 4%;
}

#action-header {
  width: inherit;
}

.profile-card {
  background-color: #c8e6c9;
  padding: 2%;
  h3 {
    margin: auto;
    text-align: center;
  }
}
