#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#container {
  padding: 5% 15%;
  background-color: whitesmoke;
  height: 70vh;
}

#card-container {
  display: grid;
  mat-card:first-of-type {
    margin-right: 1rem;
  }
  mat-card:last-of-type {
    margin-left: 1rem;
  }
}

mat-expansion-panel {
  margin: 0.5rem 0;
}

mat-panel-title {
  margin-top: 0.35rem;
}

.expansion-action-panel {
  padding: 1rem 0;
}

.more-icon {
  color: #d0d0d0;
}

.player-name {
  color: #cbcbcb;
}

::ng-deep.mat-expansion-panel-content {
  background-color: whitesmoke;
}

.game-list-panel-body {
  margin: 1rem;
}
