<div id="container">
    <mat-toolbar color="accent"> <h1><b>What The Game's About!</b></h1> </mat-toolbar>
    <p>Get a handy way to play the classic property-trading game! <b>Be the first collect 3 full property sets of different colors, and you’ll win the Monopoly Deal Card Game.</b> You’ll pick up cards when it's your turn and play Action cards to charge players rent, steal their cards or demand money for your birthday. Build up property sets, gather piles of money and keep wheeling and dealing until you're the Monopoly Deal winner!</p>
    <p>
        <b>Monopoly Deal</b> is all about collecting properties and stealing from your opponents! Use Action cards to charge rent, swap cards, demand birthday money and lots more.
    </p>
    <p>
        Make sure you put lots of money into your personal bank – and remember other players will steal from you too!
    </p>
    <br>
    <img class="header-image" src="assets/img/util/board.png">
</div>
