<mat-toolbar color="primary">
    <img src="assets/img/logo.png" height="55">
    <button mat-flat-button color="primary" routerLink="about">About</button>
    <button mat-flat-button color="primary" routerLink="rules">Rules</button>
    <button mat-flat-button color="primary" routerLink="/lobby">Lobby</button>
    <span class="spacer"></span>
    <mat-icon color="accent" [matMenuTriggerFor]="notificationMenu" [matBadge]="(notifications?.length || 0).toString()" matBadgeColor="warn">notification_important</mat-icon>
    <mat-menu #notificationMenu="matMenu" (closed)="markNotificationsAsRead()">
        <mat-nav-list>
            <mat-list-item [routerLink]="notification.link" *ngFor="let notification of notifications; index as i">
                <ng-container [ngSwitch]="notification.type">
                    <mat-icon mat-list-avatar color="accent" *ngSwitchCase="notificationTypes.INVITE" svgIcon="game"></mat-icon>
                    <mat-icon mat-list-avatar color="accent" *ngSwitchCase="notificationTypes.MESSAGE">email</mat-icon>
                    <mat-icon mat-list-avatar color="accent" *ngSwitchCase="notificationTypes.FRIEND">people_alt</mat-icon>
                </ng-container>
                &nbsp;
                <span>{{notification.message}}</span>
                <mat-divider *ngIf="i < notifications.length - 1"></mat-divider>
            </mat-list-item>
            <mat-list-item *ngIf="!notifications.length">You have no notifications!</mat-list-item>
        </mat-nav-list>
    </mat-menu>
    &nbsp;
    &nbsp;
    <button mat-flat-button color="primary" routerLink="profile">Profile</button>
    <button mat-flat-button color="signup" (click)="signOut()">Sign Out</button>
</mat-toolbar>
<router-outlet></router-outlet>
