<mat-toolbar color="primary">
    <h1 mat-dialog-title>Add a Friend</h1>
</mat-toolbar>
<div id="content">
    <mat-form-field>
        <mat-chip-list #chipList aria-label="Friend selection">
            <mat-chip
                    *ngFor="let profile of profiles"
                    selectable
                    removable
                    (removed)="remove(profile)">
                {{profile.displayName}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input
                    placeholder="Type in your friend's username or display name below..."
                    #profileInput
                    [formControl]="profileCtrl"
                    [matAutocomplete]="auto"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    matChipInputAddOnBlur>
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event.option.value)">
            <mat-option *ngFor="let profile of filteredProfiles | async" [value]="profile">
                {{profile.displayName}} ({{profile.username}})
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
<mat-dialog-actions id="actions" class="flex-row flex-end">
    <button mat-button>Cancel</button>
    <button mat-flat-button color="primary" (click)="submit()">Submit</button>
</mat-dialog-actions>
