.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.baseline-middle {
  align-content: baseline;
}

.flex-row {
  display: flex !important;
  flex-direction: row !important;
}

.flex-space-between {
  justify-content: space-between !important;
}

.flex-center {
  justify-content: center !important;
}

.flex-end {
  justify-content: flex-end !important;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-row-item {
  margin-left: 0.5rem !important;
}

.flex-row-item:first-of-type {
  margin-left: 0 !important;
}

/**
  Color styling
 */

.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border: 1.75px solid black;
  border-radius: 10px;
}

.mat-form-field-outline-thick:hover {
  opacity: 0.5;
}

.input-icon mat-icon {
  margin-right: 0.5rem !important;
  text-shadow: #81c784;
}

/* One-offs */

#username .mat-form-field-infix {
  display: flex !important; // Makes the green check next to validated name appear on the right side of the input field instead of below the input text.
}
