.spacer {
  flex: 1 1 auto;
}

.flex-row {
  display: flex !important;
  flex-direction: row !important;
}

.flex-space-between {
  justify-content: space-between !important;
}

.flex-end {
  justify-content: flex-end !important;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-row-item {
  margin-left: 0.5rem;
}

.flex-row-item:first-of-type {
  margin-left: 0 !important;
}

/* One-offs */

#username .mat-form-field-infix {
  display: flex !important; // Makes the green check next to validated name appear on the right side of the input field instead of below the input text.
}
